.ArticleDetails {
  display: block;
}

.topWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

.bookImage {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  // margin-left: 20px;
}

.imageDescriptionSkeleton {
  margin-top: 15px;
}

.buttonSkeleton {
  margin-bottom: 40px;
  margin-top: 15px;
}

.info {
  display: flex;
  font-size: 12px;
}

.block {
  margin: 26px auto 40px;
  max-width: 800px;
}
