.BookDetails {
  display: block;
}

.topWrapper {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

.bookImage {
  border-radius: 6px;
  box-shadow: var(--shadow);
  position: relative;
  max-width: 300px;
  margin: 20px;
}

.imageDescription {
  margin-top: 15px;
}

.buttonSkeleton {
  margin-bottom: 40px;
  margin-top: 15px;
}

.info {
  display: flex;
  font-size: 12px;
}

.block {
  margin: 26px auto 40px;
  width: 90%;
  max-width: 800px;
}
