.BookDetails {
  display: block;
}

.topWrapper {
  position: relative;
  max-width: 800px;
  margin: 16px auto;
  padding-left: 32px;
  text-align: left;
}

.bookImage {
  border-radius: 6px;
  box-shadow: var(--shadow);
  position: relative;
  max-width: 300px;
  margin: 16px 0;
}

// .imageDescription {
//   margin-top: 0;
// }

.buttonSkeleton {
  margin-bottom: 40px;
  margin-top: 15px;
}

.info {
  font-size: 12px;
}

.block {
  margin: 26px auto 40px;
  width: 90%;
  max-width: 800px;
}
