.BookDetails {
  display: block;
}

.topWrapper {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
}

.bookImage {
  width: 100%;
  border-radius: 6px;
  box-shadow: var(--shadow);
  position: relative;
  max-width: 800px;
  margin: 20px auto;
}

.imageDescriptionSkeleton {
  margin-top: 15px;
}

.buttonSkeleton {
  margin-bottom: 40px;
  margin-top: 15px;
}

.info {
  display: flex;
  font-size: 12px;
}

.block {
  margin: 26px auto 40px;
  max-width: 800px;
}
