.listBox {
  position: relative;
}

.listBoxBtn {
  color: var(--primary-color);
  padding: 4px 31px;
  box-shadow: var(--shadow);
  border-radius: 4px;
  background: #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  cursor: pointer;
}

.listBoxOptions {
  position: absolute;

  // width: 100%;
  // padding: 8px 31px;
  box-shadow: var(--shadow);
  border-radius: 4px;
  background: #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  z-index: 1;
}

.listBoxOptions.top {
  bottom: 100%;
}

.listBoxItem {
  position: relative;
  cursor: pointer;
  padding: 0 31px;

  // &:hover {
  //   opacity: 0.8;
  // }
}

.active {
  color: #fff;

  // padding: 0 16px;
  box-shadow: var(--shadow);
  border-radius: 4px;
  background: #ffffff50;
}

.selected {
  color: #fff;

  // padding: 0 16px;
  box-shadow: var(--shadow);
  border-radius: 4px;
  background: #ffffff80;
}

.unavailable {
  color: #999;
}
