.STANDARD {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 8px;
  padding: 10px;
  margin: 15px auto;
  width: 95%;

  .bookImage {
    width: 320px;
    height: 320px;
    object-fit: contain;
    margin: auto 0;
  }

  @media (max-width: 660px) {
    .bookImage {
      max-width: 180px;
      max-height: 180px;
    }
  }

  @media (max-width: 365px) {
    .bookImage {
      max-width: 120px;
      max-height: 120px;
    }
  }

  .contentWrapper {
    margin-left: 20px;
    max-width: 193px;
    overflow-x: hidden;
  }

  .imageDescription {
    margin-top: 16px;
  }

  .info {
    font-size: 12px;
  }

  .paragraph {
    max-height: 95px;
    overflow-y: hidden;
    max-width: 400px;
    margin: 16px 0;

    // text-overflow: ellipsis;
    // white-space: wrap;
  }

  @media (max-width: 660px) {
    .paragraph {
      display: none;
    }
  }

  .paragraph div {
    text-align: left;
  }

  .linkWrapper {
    flex-wrap: wrap;
  }
}

.COMPACT {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 15px;
  width: 170px;
  transition: transform 0.3s, opacity 0.3s;

  &:hover {
    opacity: 0.8;
    transform: scale(1.03);
  }

  .card {
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 15px;
    cursor: pointer;
  }

  .imageWrapper {
    width: 130px;
    height: 130px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    overflow: hidden;
    position: relative;
  }

  .img {
    width: 130px;
    height: 130px;
    object-fit: fill;
  }

  .createdAt {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #555;
    font-size: 10px;
    background-color: rgba(80 80  80 / 40%);
    border-radius: 5px;
    padding: 3px;
  }

  .info {
    display: flex;
    align-items: start;
  }

  .hashTagType div {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .views {
    margin-left: auto;
    margin-right: 3px;
  }

  .title div {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
  }
}
