.SendCommentForm {
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-shadow: var(--shadow);
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

.textArea {
  flex-grow: 1;
  text-align: left;
}
