.Navbar {
  position: fixed;
  height: var(--navbar-height);
  max-width: 800px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 8px;
  box-shadow: var(--shadow);
  border-radius: 12px;
  background: #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  z-index: 1;
}

.links {
  display: flex;
  justify-content: flex-start;
  padding-left: 64px;
  gap: 32px;
}

@media (max-width: 670px) {
  .links {
    padding-left: 32px;
    gap: 16px;
  }
}

// @media (max-width: 670px) {
//   .links {
//     justify-content: space-between;
//   }
// }
